In [2]:
import numpy as np
import pandas as pd

Data Exploration Questions

In [3]:
df = pd.read_csv("/content/cars_data (1).csv")
df

FileNotFoundError: [Errno 2] No such file or directory: '/content/cars_data (1).csv'

In [4]:
df = pd.read_csv("/cars_data (1) (1).csv")
df

,CarID,Brand,Model,Year,Price,FuelType,Mileage,Horsepower,Torque,Seats,Transmission,Sold,Region,SafetyRating,ResaleValue
0,1,BMW,5 Series,2022,79402,Diesel,44.91,339,493,2,Manual,Yes,East,1,68941
1,2,Mercedes,E-Class,2011,24117,Petrol,15.87,274,289,7,Automatic,Yes,West,4,19006
2,3,Mercedes,GLC,2014,40886,Electric,41.57,138,315,2,Automatic,Yes,East,2,30970
3,4,Honda,CR-V,2015,34459,Diesel,42.46,119,289,4,Automatic,Yes,West,1,23880
4,5,Mercedes,C-Class,2020,59752,Petrol,21.18,133,175,4,Manual,Yes,North,5,48077
5,6,Ford,Explorer,2011,77712,Diesel,41.56,405,341,4,Manual,No,North,2,68106
6,7,Honda,Pilot,2013,10300,Diesel,17.70,275,332,4,Manual,Yes,South,4,7139
7,8,Toyota,Prius,2012,17388,Petrol,45.71,378,156,5,Manual,No,South,5,10033
8,9,Mercedes,GLE,2013,25585,Electric,24.16,326,309,4,Automatic,No,South,1,18884
9,10,Ford,Explorer,2012,37985,Diesel,37.34,239,473,4,Automatic,No,West,2,32984
10,11,Ford,Fiesta,2019,67254,Petrol,15.29,134,480,7,Automatic,Yes,South,3,52939
11,12,Honda,Civic,2020,64608,Electric,10.61,564,332,5,Manual,No,North,5,45789
12,13,Mercedes,E-Class,2012,29315,Electric,26.83,352,206,7,Manual,Yes,East,1,14665
13,14,Honda,CR-V,2022,30202,Petrol,39.59,475,312,2,Manual,No,East,1,16262
14,15,Honda,Civic,2015,34824,Electric,37.11,377,289,4,Manual,Yes,West,3,21668
15,16,Ford,Focus,2019,43068,Electric,19.92,249,389,5,Manual,Yes,West,3,27690
16,17,Toyota,Highlander,2020,71536,Petrol,37.93,493,458,7,Manual,No,South,2,50319
17,18,Ford,Fiesta,2020,63321,Diesel,24.16,407,489,4,Automatic,No,North,1,46879
18,19,Mercedes,GLC,2013,50248,Diesel,46.46,230,658,2,Manual,No,East,4,27816
19,20,Honda,Civic,2017,37778,Petrol,24.12,563,163,2,Manual,No,South,2,32158
20,21,Honda,CR-V,2014,46256,Petrol,16.72,266,255,2,Manual,Yes,East,3,32004
21,22,Mercedes,GLC,2017,66352,Petrol,43.12,156,516,7,Manual,Yes,East,5,52467
22,23,Mercedes,C-Class,2021,35241,Electric,33.54,538,342,2,Manual,Yes,East,2,22622
23,24,Toyota,Camry,2013,28883,Petrol,38.70,213,233,2,Automatic,Yes,South,5,19527
24,25,Ford,Mustang,2011,62600,Diesel,48.76,496,439,4,Automatic,No,West,4,45733
25,26,BMW,X3,2010,24263,Electric,13.32,200,415,2,Automatic,Yes,South,5,15836
26,27,Mercedes,S-Class,2013,27977,Petrol,46.51,300,160,5,Automatic,Yes,West,4,17662
27,28,Toyota,Corolla,2010,62300,Petrol,34.26,145,454,4,Manual,No,East,3,37752
28,29,Ford,F-150,2020,30749,Electric,14.78,556,155,2,Manual,No,South,2,19501
29,30,Toyota,RAV4,2015,36720,Diesel,40.73,147,484,2,Automatic,No,North,1,24917
30,31,Honda,Fit,2015,38883,Diesel,46.20,565,150,7,Manual,No,West,3,31463
31,32,Mercedes,C-Class,2012,25800,Petrol,45.72,359,291,5,Automatic,No,South,3,18886
32,33,Ford,Fiesta,2018,56907,Electric,30.46,506,322,4,Manual,Yes,West,1,49844
33,34,Mercedes,GLE,2023,75933,Diesel,12.74,244,399,4,Manual,Yes,East,5,63652
34,35,Ford,Fiesta,2021,77675,Diesel,38.46,118,496,5,Automatic,No,North,4,66231
35,36,BMW,3 Series,2010,54825,Diesel,20.94,579,491,5,Automatic,No,West,1,40647
36,37,BMW,X3,2013,29725,Petrol,44.13,235,312,7,Automatic,Yes,South,1,18958
37,38,Toyota,Prius,2018,64805,Electric,31.16,231,210,5,Automatic,No,South,3,40083
38,39,Toyota,Camry,2016,20997,Petrol,31.47,107,688,5,Manual,Yes,South,1,14372
39,40,Toyota,RAV4,2022,68178,Petrol,25.01,134,612,7,Manual,No,West,1,43926
40,41,Honda,Pilot,2018,76039,Diesel,27.92,498,509,7,Manual,No,North,2,59039
41,42,Ford,Focus,2020,16659,Petrol,26.08,508,496,4,Manual,No,East,5,14128
42,43,Honda,Fit,2014,39685,Diesel,49.65,195,266,2,Automatic,Yes,South,2,27197
43,44,BMW,X5,2023,60310,Petrol,14.98,215,375,2,Automatic,Yes,North,3,53420
44,45,Mercedes,S-Class,2012,69705,Petrol,16.50,422,586,4,Automatic,Yes,West,5,50597
45,46,Ford,Explorer,2016,17051,Electric,38.91,558,193,5,Manual,No,West,1,11446
46,47,Honda,Accord,2015,49903,Diesel,37.78,243,472,5,Automatic,No,North,5,33468
47,48,Toyota,Highlander,2016,25138,Petrol,49.10,280,202,4,Automatic,No,West,2,22109
48,49,Toyota,Camry,2014,39294,Petrol,36.95,506,362,5,Manual,Yes,North,1,20293
49,50,BMW,5 Series,2014,28773,Diesel,44.83,248,252,2,Manual,Yes,South,1,25545

In [5]:
# 1.	Display the first 5 rows of the dataset.
df.head()

,CarID,Brand,Model,Year,Price,FuelType,Mileage,Horsepower,Torque,Seats,Transmission,Sold,Region,SafetyRating,ResaleValue
0,1,BMW,5 Series,2022,79402,Diesel,44.91,339,493,2,Manual,Yes,East,1,68941
1,2,Mercedes,E-Class,2011,24117,Petrol,15.87,274,289,7,Automatic,Yes,West,4,19006
2,3,Mercedes,GLC,2014,40886,Electric,41.57,138,315,2,Automatic,Yes,East,2,30970
3,4,Honda,CR-V,2015,34459,Diesel,42.46,119,289,4,Automatic,Yes,West,1,23880
4,5,Mercedes,C-Class,2020,59752,Petrol,21.18,133,175,4,Manual,Yes,North,5,48077

In [6]:
# 2.	Show the last 5 rows of the dataset.
df.tail()

,CarID,Brand,Model,Year,Price,FuelType,Mileage,Horsepower,Torque,Seats,Transmission,Sold,Region,SafetyRating,ResaleValue
45,46,Ford,Explorer,2016,17051,Electric,38.91,558,193,5,Manual,No,West,1,11446
46,47,Honda,Accord,2015,49903,Diesel,37.78,243,472,5,Automatic,No,North,5,33468
47,48,Toyota,Highlander,2016,25138,Petrol,49.10,280,202,4,Automatic,No,West,2,22109
48,49,Toyota,Camry,2014,39294,Petrol,36.95,506,362,5,Manual,Yes,North,1,20293
49,50,BMW,5 Series,2014,28773,Diesel,44.83,248,252,2,Manual,Yes,South,1,25545

In [7]:
# 3.	Show the last 5 rows of the DataFrame.
df.tail()

,CarID,Brand,Model,Year,Price,FuelType,Mileage,Horsepower,Torque,Seats,Transmission,Sold,Region,SafetyRating,ResaleValue
45,46,Ford,Explorer,2016,17051,Electric,38.91,558,193,5,Manual,No,West,1,11446
46,47,Honda,Accord,2015,49903,Diesel,37.78,243,472,5,Automatic,No,North,5,33468
47,48,Toyota,Highlander,2016,25138,Petrol,49.10,280,202,4,Automatic,No,West,2,22109
48,49,Toyota,Camry,2014,39294,Petrol,36.95,506,362,5,Manual,Yes,North,1,20293
49,50,BMW,5 Series,2014,28773,Diesel,44.83,248,252,2,Manual,Yes,South,1,25545

In [9]:
# 4.	Get the shape (number of rows and columns) of the dataset.
df.shape

(50, 15)

In [10]:
# 5.	Display summary statistics of all numerical columns.
df.describe()

,CarID,Year,Price,Mileage,Horsepower,Torque,Seats,SafetyRating,ResaleValue
count,50.00000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,25.50000,2015.880000,45147.320000,32.278200,324.760000,361.700000,4.220000,2.720000,33150.600000
std,14.57738,3.847289,19667.845968,11.848107,151.517974,139.352914,1.729575,1.512398,16788.502376
min,1.00000,2010.000000,10300.000000,10.610000,107.000000,150.000000,2.000000,1.000000,7139.000000
25%,13.25000,2013.000000,28991.000000,21.915000,213.500000,257.750000,2.000000,1.000000,19129.750000
50%,25.50000,2015.000000,39489.500000,35.605000,277.500000,336.500000,4.000000,2.500000,29393.000000
75%,37.75000,2019.750000,63140.750000,42.237500,488.500000,478.250000,5.000000,4.000000,46606.500000
max,50.00000,2023.000000,79402.000000,49.650000,579.000000,688.000000,7.000000,5.000000,68941.000000

In [13]:
# 6.	Get column names of the dataset.
df.columns

Index(['CarID', 'Brand', 'Model', 'Year', 'Price', 'FuelType', 'Mileage',
       'Horsepower', 'Torque', 'Seats', 'Transmission', 'Sold', 'Region',
       'SafetyRating', 'ResaleValue'],
      dtype='object')

In [14]:
# 7.	Check for missing values in the dataset.
df.isnull().sum()

CarID           0
Brand           0
Model           0
Year            0
Price           0
FuelType        0
Mileage         0
Horsepower      0
Torque          0
Seats           0
Transmission    0
Sold            0
Region          0
SafetyRating    0
ResaleValue     0
dtype: int64

In [15]:
# 8.	Get the data types of each column.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CarID         50 non-null     int64
 1   Brand         50 non-null     object
 2   Model         50 non-null     object
 3   Year          50 non-null     int64
 4   Price         50 non-null     int64
 5   FuelType      50 non-null     object
 6   Mileage       50 non-null     float64
 7   Horsepower    50 non-null     int64
 8   Torque        50 non-null     int64
 9   Seats         50 non-null     int64
 10  Transmission  50 non-null     object
 11  Sold          50 non-null     object
 12  Region        50 non-null     object
 13  SafetyRating  50 non-null     int64
 14  ResaleValue   50 non-null     int64
dtypes: float64(1), int64(8), object(6)
memory usage: 6.0+ KB

Filtering and Sorting Questions

In [19]:
# 8.	Sort the dataset by Price in descending order.
df.sort_values(by =["Price"],ascending= False)

,CarID,Brand,Model,Year,Price,FuelType,Mileage,Horsepower,Torque,Seats,Transmission,Sold,Region,SafetyRating,ResaleValue
0,1,BMW,5 Series,2022,79402,Diesel,44.91,339,493,2,Manual,Yes,East,1,68941
5,6,Ford,Explorer,2011,77712,Diesel,41.56,405,341,4,Manual,No,North,2,68106
34,35,Ford,Fiesta,2021,77675,Diesel,38.46,118,496,5,Automatic,No,North,4,66231
40,41,Honda,Pilot,2018,76039,Diesel,27.92,498,509,7,Manual,No,North,2,59039
33,34,Mercedes,GLE,2023,75933,Diesel,12.74,244,399,4,Manual,Yes,East,5,63652
16,17,Toyota,Highlander,2020,71536,Petrol,37.93,493,458,7,Manual,No,South,2,50319
44,45,Mercedes,S-Class,2012,69705,Petrol,16.50,422,586,4,Automatic,Yes,West,5,50597
39,40,Toyota,RAV4,2022,68178,Petrol,25.01,134,612,7,Manual,No,West,1,43926
10,11,Ford,Fiesta,2019,67254,Petrol,15.29,134,480,7,Automatic,Yes,South,3,52939
21,22,Mercedes,GLC,2017,66352,Petrol,43.12,156,516,7,Manual,Yes,East,5,52467
37,38,Toyota,Prius,2018,64805,Electric,31.16,231,210,5,Automatic,No,South,3,40083
11,12,Honda,Civic,2020,64608,Electric,10.61,564,332,5,Manual,No,North,5,45789
17,18,Ford,Fiesta,2020,63321,Diesel,24.16,407,489,4,Automatic,No,North,1,46879
24,25,Ford,Mustang,2011,62600,Diesel,48.76,496,439,4,Automatic,No,West,4,45733
27,28,Toyota,Corolla,2010,62300,Petrol,34.26,145,454,4,Manual,No,East,3,37752
43,44,BMW,X5,2023,60310,Petrol,14.98,215,375,2,Automatic,Yes,North,3,53420
4,5,Mercedes,C-Class,2020,59752,Petrol,21.18,133,175,4,Manual,Yes,North,5,48077
32,33,Ford,Fiesta,2018,56907,Electric,30.46,506,322,4,Manual,Yes,West,1,49844
35,36,BMW,3 Series,2010,54825,Diesel,20.94,579,491,5,Automatic,No,West,1,40647
18,19,Mercedes,GLC,2013,50248,Diesel,46.46,230,658,2,Manual,No,East,4,27816
46,47,Honda,Accord,2015,49903,Diesel,37.78,243,472,5,Automatic,No,North,5,33468
20,21,Honda,CR-V,2014,46256,Petrol,16.72,266,255,2,Manual,Yes,East,3,32004
15,16,Ford,Focus,2019,43068,Electric,19.92,249,389,5,Manual,Yes,West,3,27690
2,3,Mercedes,GLC,2014,40886,Electric,41.57,138,315,2,Automatic,Yes,East,2,30970
42,43,Honda,Fit,2014,39685,Diesel,49.65,195,266,2,Automatic,Yes,South,2,27197
48,49,Toyota,Camry,2014,39294,Petrol,36.95,506,362,5,Manual,Yes,North,1,20293
30,31,Honda,Fit,2015,38883,Diesel,46.20,565,150,7,Manual,No,West,3,31463
9,10,Ford,Explorer,2012,37985,Diesel,37.34,239,473,4,Automatic,No,West,2,32984
19,20,Honda,Civic,2017,37778,Petrol,24.12,563,163,2,Manual,No,South,2,32158
29,30,Toyota,RAV4,2015,36720,Diesel,40.73,147,484,2,Automatic,No,North,1,24917
22,23,Mercedes,C-Class,2021,35241,Electric,33.54,538,342,2,Manual,Yes,East,2,22622
14,15,Honda,Civic,2015,34824,Electric,37.11,377,289,4,Manual,Yes,West,3,21668
3,4,Honda,CR-V,2015,34459,Diesel,42.46,119,289,4,Automatic,Yes,West,1,23880
28,29,Ford,F-150,2020,30749,Electric,14.78,556,155,2,Manual,No,South,2,19501
13,14,Honda,CR-V,2022,30202,Petrol,39.59,475,312,2,Manual,No,East,1,16262
36,37,BMW,X3,2013,29725,Petrol,44.13,235,312,7,Automatic,Yes,South,1,18958
12,13,Mercedes,E-Class,2012,29315,Electric,26.83,352,206,7,Manual,Yes,East,1,14665
23,24,Toyota,Camry,2013,28883,Petrol,38.70,213,233,2,Automatic,Yes,South,5,19527
49,50,BMW,5 Series,2014,28773,Diesel,44.83,248,252,2,Manual,Yes,South,1,25545
26,27,Mercedes,S-Class,2013,27977,Petrol,46.51,300,160,5,Automatic,Yes,West,4,17662
31,32,Mercedes,C-Class,2012,25800,Petrol,45.72,359,291,5,Automatic,No,South,3,18886
8,9,Mercedes,GLE,2013,25585,Electric,24.16,326,309,4,Automatic,No,South,1,18884
47,48,Toyota,Highlander,2016,25138,Petrol,49.10,280,202,4,Automatic,No,West,2,22109
25,26,BMW,X3,2010,24263,Electric,13.32,200,415,2,Automatic,Yes,South,5,15836
1,2,Mercedes,E-Class,2011,24117,Petrol,15.87,274,289,7,Automatic,Yes,West,4,19006
38,39,Toyota,Camry,2016,20997,Petrol,31.47,107,688,5,Manual,Yes,South,1,14372
7,8,Toyota,Prius,2012,17388,Petrol,45.71,378,156,5,Manual,No,South,5,10033
45,46,Ford,Explorer,2016,17051,Electric,38.91,558,193,5,Manual,No,West,1,11446
41,42,Ford,Focus,2020,16659,Petrol,26.08,508,496,4,Manual,No,East,5,14128
6,7,Honda,Pilot,2013,10300,Diesel,17.70,275,332,4,Manual,Yes,South,4,7139

In [20]:
# 9.	Select only the Brand, Model, and Price columns.
df[["Brand","Model","Price"]]

       Brand       Model  Price
0        BMW    5 Series  79402
1   Mercedes     E-Class  24117
2   Mercedes         GLC  40886
3      Honda        CR-V  34459
4   Mercedes     C-Class  59752
5       Ford    Explorer  77712
6      Honda       Pilot  10300
7     Toyota       Prius  17388
8   Mercedes         GLE  25585
9       Ford    Explorer  37985
10      Ford      Fiesta  67254
11     Honda       Civic  64608
12  Mercedes     E-Class  29315
13     Honda        CR-V  30202
14     Honda       Civic  34824
15      Ford       Focus  43068
16    Toyota  Highlander  71536
17      Ford      Fiesta  63321
18  Mercedes         GLC  50248
19     Honda       Civic  37778
20     Honda        CR-V  46256
21  Mercedes         GLC  66352
22  Mercedes     C-Class  35241
23    Toyota       Camry  28883
24      Ford     Mustang  62600
25       BMW          X3  24263
26  Mercedes     S-Class  27977
27    Toyota     Corolla  62300
28      Ford       F-150  30749
29    Toyota        RAV4  36720
30     Honda         Fit  38883
31  Mercedes     C-Class  25800
32      Ford      Fiesta  56907
33  Mercedes         GLE  75933
34      Ford      Fiesta  77675
35       BMW    3 Series  54825
36       BMW          X3  29725
37    Toyota       Prius  64805
38    Toyota       Camry  20997
39    Toyota        RAV4  68178
40     Honda       Pilot  76039
41      Ford       Focus  16659
42     Honda         Fit  39685
43       BMW          X5  60310
44  Mercedes     S-Class  69705
45      Ford    Explorer  17051
46     Honda      Accord  49903
47    Toyota  Highlander  25138
48    Toyota       Camry  39294
49       BMW    5 Series  28773

In [21]:
# 10.	Find all cars that have been sold.
df[df['Sold']=="Yes"]

,CarID,Brand,Model,Year,Price,FuelType,Mileage,Horsepower,Torque,Seats,Transmission,Sold,Region,SafetyRating,ResaleValue
0,1,BMW,5 Series,2022,79402,Diesel,44.91,339,493,2,Manual,Yes,East,1,68941
1,2,Mercedes,E-Class,2011,24117,Petrol,15.87,274,289,7,Automatic,Yes,West,4,19006
2,3,Mercedes,GLC,2014,40886,Electric,41.57,138,315,2,Automatic,Yes,East,2,30970
3,4,Honda,CR-V,2015,34459,Diesel,42.46,119,289,4,Automatic,Yes,West,1,23880
4,5,Mercedes,C-Class,2020,59752,Petrol,21.18,133,175,4,Manual,Yes,North,5,48077
6,7,Honda,Pilot,2013,10300,Diesel,17.70,275,332,4,Manual,Yes,South,4,7139
10,11,Ford,Fiesta,2019,67254,Petrol,15.29,134,480,7,Automatic,Yes,South,3,52939
12,13,Mercedes,E-Class,2012,29315,Electric,26.83,352,206,7,Manual,Yes,East,1,14665
14,15,Honda,Civic,2015,34824,Electric,37.11,377,289,4,Manual,Yes,West,3,21668
15,16,Ford,Focus,2019,43068,Electric,19.92,249,389,5,Manual,Yes,West,3,27690
20,21,Honda,CR-V,2014,46256,Petrol,16.72,266,255,2,Manual,Yes,East,3,32004
21,22,Mercedes,GLC,2017,66352,Petrol,43.12,156,516,7,Manual,Yes,East,5,52467
22,23,Mercedes,C-Class,2021,35241,Electric,33.54,538,342,2,Manual,Yes,East,2,22622
23,24,Toyota,Camry,2013,28883,Petrol,38.70,213,233,2,Automatic,Yes,South,5,19527
25,26,BMW,X3,2010,24263,Electric,13.32,200,415,2,Automatic,Yes,South,5,15836
26,27,Mercedes,S-Class,2013,27977,Petrol,46.51,300,160,5,Automatic,Yes,West,4,17662
32,33,Ford,Fiesta,2018,56907,Electric,30.46,506,322,4,Manual,Yes,West,1,49844
33,34,Mercedes,GLE,2023,75933,Diesel,12.74,244,399,4,Manual,Yes,East,5,63652
36,37,BMW,X3,2013,29725,Petrol,44.13,235,312,7,Automatic,Yes,South,1,18958
38,39,Toyota,Camry,2016,20997,Petrol,31.47,107,688,5,Manual,Yes,South,1,14372
42,43,Honda,Fit,2014,39685,Diesel,49.65,195,266,2,Automatic,Yes,South,2,27197
43,44,BMW,X5,2023,60310,Petrol,14.98,215,375,2,Automatic,Yes,North,3,53420
44,45,Mercedes,S-Class,2012,69705,Petrol,16.50,422,586,4,Automatic,Yes,West,5,50597
48,49,Toyota,Camry,2014,39294,Petrol,36.95,506,362,5,Manual,Yes,North,1,20293
49,50,BMW,5 Series,2014,28773,Diesel,44.83,248,252,2,Manual,Yes,South,1,25545

In [23]:
# 11.	Find all cars that belong to the "BMW" brand.
df[df['Brand']=="BMW"]

,CarID,Brand,Model,Year,Price,FuelType,Mileage,Horsepower,Torque,Seats,Transmission,Sold,Region,SafetyRating,ResaleValue
0,1,BMW,5 Series,2022,79402,Diesel,44.91,339,493,2,Manual,Yes,East,1,68941
25,26,BMW,X3,2010,24263,Electric,13.32,200,415,2,Automatic,Yes,South,5,15836
35,36,BMW,3 Series,2010,54825,Diesel,20.94,579,491,5,Automatic,No,West,1,40647
36,37,BMW,X3,2013,29725,Petrol,44.13,235,312,7,Automatic,Yes,South,1,18958
43,44,BMW,X5,2023,60310,Petrol,14.98,215,375,2,Automatic,Yes,North,3,53420
49,50,BMW,5 Series,2014,28773,Diesel,44.83,248,252,2,Manual,Yes,South,1,25545

In [24]:
# 12.	Find all cars that are from the year 2020 or later.
df[df["Year"]>=2020]

,CarID,Brand,Model,Year,Price,FuelType,Mileage,Horsepower,Torque,Seats,Transmission,Sold,Region,SafetyRating,ResaleValue
0,1,BMW,5 Series,2022,79402,Diesel,44.91,339,493,2,Manual,Yes,East,1,68941
4,5,Mercedes,C-Class,2020,59752,Petrol,21.18,133,175,4,Manual,Yes,North,5,48077
11,12,Honda,Civic,2020,64608,Electric,10.61,564,332,5,Manual,No,North,5,45789
13,14,Honda,CR-V,2022,30202,Petrol,39.59,475,312,2,Manual,No,East,1,16262
16,17,Toyota,Highlander,2020,71536,Petrol,37.93,493,458,7,Manual,No,South,2,50319
17,18,Ford,Fiesta,2020,63321,Diesel,24.16,407,489,4,Automatic,No,North,1,46879
22,23,Mercedes,C-Class,2021,35241,Electric,33.54,538,342,2,Manual,Yes,East,2,22622
28,29,Ford,F-150,2020,30749,Electric,14.78,556,155,2,Manual,No,South,2,19501
33,34,Mercedes,GLE,2023,75933,Diesel,12.74,244,399,4,Manual,Yes,East,5,63652
34,35,Ford,Fiesta,2021,77675,Diesel,38.46,118,496,5,Automatic,No,North,4,66231
39,40,Toyota,RAV4,2022,68178,Petrol,25.01,134,612,7,Manual,No,West,1,43926
41,42,Ford,Focus,2020,16659,Petrol,26.08,508,496,4,Manual,No,East,5,14128
43,44,BMW,X5,2023,60310,Petrol,14.98,215,375,2,Automatic,Yes,North,3,53420

In [25]:
# 13.	Find all cars that belong to the "North" region and have been sold
df[(df["Region"]=="North") & (df['Sold']=='Yes')]

,CarID,Brand,Model,Year,Price,FuelType,Mileage,Horsepower,Torque,Seats,Transmission,Sold,Region,SafetyRating,ResaleValue
4,5,Mercedes,C-Class,2020,59752,Petrol,21.18,133,175,4,Manual,Yes,North,5,48077
43,44,BMW,X5,2023,60310,Petrol,14.98,215,375,2,Automatic,Yes,North,3,53420
48,49,Toyota,Camry,2014,39294,Petrol,36.95,506,362,5,Manual,Yes,North,1,20293

In [26]:
# 14.	Filter cars that have Price greater than $40,000.
df[df["Price"]>40000]

,CarID,Brand,Model,Year,Price,FuelType,Mileage,Horsepower,Torque,Seats,Transmission,Sold,Region,SafetyRating,ResaleValue
0,1,BMW,5 Series,2022,79402,Diesel,44.91,339,493,2,Manual,Yes,East,1,68941
2,3,Mercedes,GLC,2014,40886,Electric,41.57,138,315,2,Automatic,Yes,East,2,30970
4,5,Mercedes,C-Class,2020,59752,Petrol,21.18,133,175,4,Manual,Yes,North,5,48077
5,6,Ford,Explorer,2011,77712,Diesel,41.56,405,341,4,Manual,No,North,2,68106
10,11,Ford,Fiesta,2019,67254,Petrol,15.29,134,480,7,Automatic,Yes,South,3,52939
11,12,Honda,Civic,2020,64608,Electric,10.61,564,332,5,Manual,No,North,5,45789
15,16,Ford,Focus,2019,43068,Electric,19.92,249,389,5,Manual,Yes,West,3,27690
16,17,Toyota,Highlander,2020,71536,Petrol,37.93,493,458,7,Manual,No,South,2,50319
17,18,Ford,Fiesta,2020,63321,Diesel,24.16,407,489,4,Automatic,No,North,1,46879
18,19,Mercedes,GLC,2013,50248,Diesel,46.46,230,658,2,Manual,No,East,4,27816
20,21,Honda,CR-V,2014,46256,Petrol,16.72,266,255,2,Manual,Yes,East,3,32004
21,22,Mercedes,GLC,2017,66352,Petrol,43.12,156,516,7,Manual,Yes,East,5,52467
24,25,Ford,Mustang,2011,62600,Diesel,48.76,496,439,4,Automatic,No,West,4,45733
27,28,Toyota,Corolla,2010,62300,Petrol,34.26,145,454,4,Manual,No,East,3,37752
32,33,Ford,Fiesta,2018,56907,Electric,30.46,506,322,4,Manual,Yes,West,1,49844
33,34,Mercedes,GLE,2023,75933,Diesel,12.74,244,399,4,Manual,Yes,East,5,63652
34,35,Ford,Fiesta,2021,77675,Diesel,38.46,118,496,5,Automatic,No,North,4,66231
35,36,BMW,3 Series,2010,54825,Diesel,20.94,579,491,5,Automatic,No,West,1,40647
37,38,Toyota,Prius,2018,64805,Electric,31.16,231,210,5,Automatic,No,South,3,40083
39,40,Toyota,RAV4,2022,68178,Petrol,25.01,134,612,7,Manual,No,West,1,43926
40,41,Honda,Pilot,2018,76039,Diesel,27.92,498,509,7,Manual,No,North,2,59039
43,44,BMW,X5,2023,60310,Petrol,14.98,215,375,2,Automatic,Yes,North,3,53420
44,45,Mercedes,S-Class,2012,69705,Petrol,16.50,422,586,4,Automatic,Yes,West,5,50597
46,47,Honda,Accord,2015,49903,Diesel,37.78,243,472,5,Automatic,No,North,5,33468

Grouping and Aggregation Questions

In [27]:
# 19.	Find the average Price of cars per brand.
df.groupby('Brand')["Price"].mean()

Brand
BMW         46216.333333
Ford        50089.181818
Honda       42085.181818
Mercedes    44242.583333
Toyota      43523.900000
Name: Price, dtype: float64

In [29]:
# 20.	Count the number of cars in each FuelType category.
df.groupby('FuelType')['FuelType'].count()

FuelType
Diesel      17
Electric    12
Petrol      21
Name: FuelType, dtype: int64

In [30]:
# 21.	Find the highest Price in each Brand.
df.groupby('Brand')['Price'].max()

Brand
BMW         79402
Ford        77712
Honda       76039
Mercedes    75933
Toyota      71536
Name: Price, dtype: int64

In [31]:
# 23.	Find the car with the highest ResaleValue.
df['ResaleValue'].max()
df[df['ResaleValue']==df['ResaleValue'].max()]

,CarID,Brand,Model,Year,Price,FuelType,Mileage,Horsepower,Torque,Seats,Transmission,Sold,Region,SafetyRating,ResaleValue
0,1,BMW,5 Series,2022,79402,Diesel,44.91,339,493,2,Manual,Yes,East,1,68941

In [32]:
# 24.	Count the number of cars sold and not sold.
df.groupby('Sold')['CarID'].count()

Sold
No     25
Yes    25
Name: CarID, dtype: int64

In [33]:
# 25.	Find the average Horsepower per Brand.
df.groupby('Brand')['Horsepower'].mean()

Brand
BMW         302.666667
Ford        379.636364
Honda       376.363636
Mercedes    289.333333
Toyota      263.400000
Name: Horsepower, dtype: float64

In [34]:
# 26.	Find the highest ResaleValue per Region.
df.groupby('Region')['ResaleValue'].max()

Region
East     68941
North    68106
South    52939
West     50597
Name: ResaleValue, dtype: int64

In [35]:
# 27.	Find the lowest Mileage per Brand.
df.groupby('Brand')['Mileage'].min()

Brand
BMW         13.32
Ford        14.78
Honda       10.61
Mercedes    12.74
Toyota      25.01
Name: Mileage, dtype: float64

In [36]:
# 28.	Count the number of cars per Transmission type.
df.groupby('Transmission')['CarID'].count()

Transmission
Automatic    22
Manual       28
Name: CarID, dtype: int64

Data Transformation